meta(property="og:title" content=(ogpTitle ? ogpTitle : titleText))
meta(property="og:description" content=(ogpDescription ? ogpDescription : descriptionText))
meta(property="og:type" content=ogpType)
meta(property="og:url" content=`${canonicalURL}`)
each imageData in ogpImageList
  if imageData
    meta(property="og:image" content=(typeof imageData === 'object' ? imageData.url : imageData))
    if imageData.width
      meta(property="og:image:width" content=imageData.width)
    if imageData.height
      meta(property="og:image:height" content=imageData.height)
each twitterScreenName in twitterSiteList
  meta(name="twitter:site" content=`@${twitterScreenName}`)
