if preloadList
  each resourceURL in preloadList
    -
      const resourceType = (
        /\.css$/.test(resourceURL) ? 'style' :
        /\.(?:png|svg)$/.test(resourceURL) ? 'image' :
        /\.(?:woff2?)$/.test(resourceURL) ? 'font' :
        'unknown'
      );
      const resourceMIME = (
        /\.woff2$/.test(resourceURL) ? 'font/woff2' :
        /\.woff$/.test(resourceURL) ? 'font/woff' :
        null
      );
    if resourceType === 'font'
      link(rel="preload" href=resourceURL as=resourceType type=resourceMIME crossorigin="anonymous")
    else
      link(rel="preload" href=resourceURL as=resourceType type=resourceMIME)
