if preloadList
  each resourceURL in preloadList
    -
      const resourceMIME = mime.getType(resourceURL);
      const resourceType = (
        /\.css$/.test(resourceURL) ? 'style' :
        /^image\//.test(resourceMIME) ? 'image' :
        /^font\//.test(resourceMIME) ? 'font' :
        'unknown'
      );
    if resourceType === 'font'
      link(rel="preload" href=resourceURL as=resourceType type=resourceMIME crossorigin="anonymous")
    else
      link(rel="preload" href=resourceURL as=resourceType type=resourceMIME)
