mixin pageLinkList(pageDataList)
  if 1 <= pageDataList.length
    //- Note: itemprop属性を先頭に置くため、初期値をnullで設定する。属性値はmixinの属性で上書き可能
    //- Note: mixin内ではitemscope属性の値が"itemscope"で設定されてしまうため、空文字列で上書き
    ol.novel-pages(itemprop=null itemscope="" itemtype="http://schema.org/Collection")&attributes(attributes)
      each pageData in pageDataList
        +pageLink(pageData)(itemprop="hasPart")
  else
    block

mixin pageLink(pageData)
  //- Note: itemprop属性を先頭に置くため、初期値をnullで設定する。属性値はmixinの属性で上書き可能
  //- Note: mixin内ではitemscope属性の値が"itemscope"で設定されてしまうため、空文字列で上書き
  li(itemprop=null itemscope="" itemtype="http://schema.org/CreativeWork")&attributes(attributes)
    a(href=rootRrelativeURL(pageData.path))
      span(itemprop="headline")= pageData.title
    |
    |
    span.novel-date
      span.novel-published
        time(itemprop="datePublished" datetime=formatDate(pageData.published, '%<time>', 0))
          = formatDate(pageData.published, '%Y年%-m月%-d日', timezone*60)
        | 公開
      unless dateEquals(pageData.published, pageData.modified)
        -
          const modifiedDiff = dateDiff(pageData.published, pageData.modified, timezone);
          const showModifiedYear = modifiedDiff.year !== 0;
        span.split-text
          |
          | /
          |
        span.novel-modified(class={ 'short-date': !showModifiedYear })
          time(itemprop="dateModified" datetime=formatDate(pageData.modified, '%<time>', 0))
            = formatDate(pageData.modified, `${showModifiedYear ? '%Y年' : ''}%-m月%-d日`, timezone*60)
          | 更新
