-
  generated = generated || new Date
  const creativecommonsImageList = [
    {
      src: '/images/creativecommons.by-sa.88x31.png',
      width: 88,
    },
    {
      src: '/images/creativecommons.by-sa.403x141.png',
      width: 403,
    },
    {
      src: '/images/creativecommons.by-sa.svg',
      width: Infinity,
    },
  ];
footer.page
  //-
    p.page-location
      if qrCodeImageFiles
        -
          const svgImage = qrCodeImageFiles.svg;
          const pngImage = qrCodeImageFiles.png;
        if svgImage && pngImage
          picture.qr-code
            source(srcset=`/${path2url(svgImage.path)}` type="image/svg+xml")
            img(src=`/${path2url(pngImage.path)}`
                width=pngImage.width
                height=pngImage.height
                alt="")
        else if svgImage || pngImage
          - const image = svgImage || pngImage;
          img.qr-code(src=`/${path2url(image.path)}`
                      width=image.width
                      height=image.height
                      alt="")
      span.url
        each urlItem, index in yahooStyleURLBreaker(canonicalURL(rootURL, path))
          if index !== 0
            wbr
          span.bunsetsu= urlItem
  p
    | 最終更新日：
    time(datetime=formatDate(modified || generated, '%Y-%m-%dT%H:%M:%SZ', 0)
         itemprop=(modified ? "dateModified" : null))
      = formatDate(modified || generated, '%Y年%-m月%-d日 %H:%M:%S %:z', 9 * 60*60)
  p.license
    a(rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja" hreflang="ja" target="_blank")
      if creativecommonsImageList
        -
          const maxWidth = creativecommonsImageList
            .map(({ width }) => width)
            .filter(Number.isFinite)
            .reduce((a, b) => Math.max(a, b));
          const srcsetValue = creativecommonsImageList
            .map(({ src, width }) => `${src} ${Math.min(width, maxWidth + 1)}w`)
            .join(',');
        img(src=creativecommonsImageList.find(({ width }) => width === 88).src
            srcset=srcsetValue
            alt="クリエイティブ・コモンズ 表示 - 継承 4.0 国際ライセンス"
            width="88" height="31" sizes="88px")
  p.copyright
    small(lang="en")
      | Copyright ©
      |
      time(datetime=formatDate(published || generated, '%Y-%m-%dT%H:%M:%SZ', 0)
           itemprop=(published ? "datePublished" : null))
        = formatDate(published || generated, '%Y')
      if published && modified
        | -
      if modified
        time(datetime=formatDate(modified, '%Y-%m-%dT%H:%M:%SZ', 0)
             itemprop=((!published ? "datePublished " : "") + "dateModified"))
          = formatDate(modified, '%Y')
      |
      |
      span(itemprop="author") sounisi5011
      |
      | Some Rights Reserved.
