header.page
  p.page-location
    if qrCodeImageFiles
      -
        const svgImage = qrCodeImageFiles.svg;
        const pngImage = qrCodeImageFiles.png;
      if svgImage && pngImage
        picture.qr-code
          source(srcset=rootRrelativeURL(svgImage.path) type="image/svg+xml")
          img(src=rootRrelativeURL(pngImage.path)
              width=pngImage.width
              height=pngImage.height
              alt="")
      else if svgImage || pngImage
        - const image = svgImage || pngImage;
        img.qr-code(src=rootRrelativeURL(image.path)
                    width=image.width
                    height=image.height
                    alt="")
    span.url(itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList")
      each urlItem, index in urlSplitter(canonicalURL(visibleRootURL, path))
        if urlItem.value.raw
          if urlItem !== urlItem.first
            wbr
          span.segment(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
            mixin name(valueData)
              if valueData.decoded && valueData.dangerDecoded && valueData.decoded !== valueData.dangerDecoded
                span= valueData.decoded
                meta(itemprop="name" content=valueData.dangerDecoded)
              else
                span(itemprop="name")= valueData.decoded || valueData.raw

            = urlItem.beforeSplit
            if urlItem !== urlItem.last
              -
                const relList = [];
                if (urlItem.next.isLastPathSegment) {
                  relList.push('parent');
                }
                const relValue = relList.join(' ');
              a(href=urlItem.href.rootRelative rel=(relValue || null) itemprop="item" itemtype="https://schema.org/Thing")
                +name(urlItem.value)
            else
              meta(itemprop="item" content=urlItem.href.absolute)
              +name(urlItem.value)
            meta(itemprop="position" content=(index + 1))
        else
          span.segment
            = urlItem.beforeSplit
