header.page
  p.page-location
    if qrCodeImageFiles
      -
        const svgImage = qrCodeImageFiles.svg;
        const pngImage = qrCodeImageFiles.png;
      if svgImage && pngImage
        picture.qr-code
          source(srcset=rootRrelativeURL(svgImage.path) type="image/svg+xml")
          img(src=rootRrelativeURL(pngImage.path)
              width=pngImage.width
              height=pngImage.height
              alt="")
      else if svgImage || pngImage
        - const image = svgImage || pngImage;
        img.qr-code(src=rootRrelativeURL(image.path)
                    width=image.width
                    height=image.height
                    alt="")
    span.url(itemprop="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList")
      each urlItem, index in urlSplitter(canonicalURL(visibleRootURL, path))
        if urlItem.value
          if index !== 0
            wbr
          span.segment(itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem")
            = urlItem.beforeSplit
            if !urlItem.last
              a(href=urlItem.href.rootRelative itemprop="item" itemtype="https://schema.org/Thing")
                span(itemprop="name")= urlItem.decodedValue || urlItem.value
            else
              meta(itemprop="item" content=urlItem.href.absolute)
              span(itemprop="name")= urlItem.decodedValue || urlItem.value
            meta(itemprop="position" content=(index + 1))
        else
          span.segment
            = urlItem.beforeSplit
