header.page
  p.page-location
    if qrCodeImageFiles
      -
        const svgImage = qrCodeImageFiles.svg;
        const pngImage = qrCodeImageFiles.png;
      if svgImage && pngImage
        picture.qr-code
          source(srcset=rootRrelativeURL(svgImage.path) type="image/svg+xml")
          img(src=rootRrelativeURL(pngImage.path)
              width=pngImage.width
              height=pngImage.height
              alt="")
      else if svgImage || pngImage
        - const image = svgImage || pngImage;
        img.qr-code(src=rootRrelativeURL(image.path)
                    width=image.width
                    height=image.height
                    alt="")
    span.url
      each urlItem, index in yahooStyleURLBreaker(canonicalURL(visibleRootURL, path))
        if index !== 0
          wbr
        span.bunsetsu= urlItem
