block vars
-
  titleText = titleText || title
  descriptionText = descriptionText || description
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no,email=no,address=no")
    title= titleText
    meta(name="description" content=descriptionText)
    link(rel="canonical" href=canonicalURL(rootURL, path))
    include _head/preload
    include _head/ogp
    include _head/stylesheets
  body
    block content
