block vars
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      meta(name="format-detection" content="telephone=no,email=no,address=no")
      title= title
      meta(name="description" content=description)
      link(rel="canonical" href=canonicalURL(rootURL, path))
      block preload
        include _head/preload
      block ogp
        include _head/ogp
      block stylesheets
        include _head/stylesheets
      block head-script
  body(itemscope itemtype="http://schema.org/WebPage")
    block header
      include _header
    block content
    block footer
      include _footer
    block body-script
