---
localPageStyles:
  - /characters.css
ogpType: website
ogpImageList:
  - url: /images/ogp.png
    width: 400
    height: 400
preloadDependencies:
  - /default.css
  - /characters.css
---

-
  const titleText = '創作キャラ一覧';
  const descriptionText = 'sounisi5011が創作したオリジナルキャラクターのまとめ/紹介ページ';
  const ogpSiteName = title;
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no,email=no,address=no")
    title= titleText
    meta(name="description" content=descriptionText)
    link(rel="canonical" href=`${canonicalURL}`)
    include _head/preload
    include _head/ogp
    include _head/stylesheets
  body
    h1= titleText

    -
      const characterRecord = collections.characters
        .reduce((obj, fileData) => {
          const path = fileData.path;
          const pathMatch = /^characters(?:\/([^/]+))?\/([^/]+)\/?$/.exec(path);
          const series = pathMatch[1] || '';
          const name = pathMatch[2];
          if (!obj.hasOwnProperty(series)) {
            obj[series] = [];
          }
          obj[series].push({
            name,
            url: path,
          });
          return obj;
        }, {})
    each data in Object.entries(characterRecord)
      - const [series, characterList] = data;
      if series
        h2= series
      ul
        each characterData in characterList
          li
            a(href=characterData.url)= characterData.name
    else
      p 創作キャラはまだ存在しません。
