---
title: sounisi5011.jp
description: sounisi5011の創作とソーシャルサービスの集約サイト
localPageStyles:
  - /root.css
preloadDependencies:
  - /images/my-symbol.svg
socialLinkList:
  - type: twitter
    screenName: sounisi5011
    id: '4676860944'
  - type: twitter
    screenName: sounisi5011Prog
    id: '4676837791'
  - type: twitter
    screenName: sounisi5011Vore
    id: '4676885804'
  - type: twitter
    screenName: sounisi5011R18G
    id: '768680194244612096'
  - url: https://github.com/sounisi5011
    title: GitHub
    serviceName: 'GitHub: '
    userName: sounisi5011
  - url: https://qiita.com/sounisi5011
    title: Qiita
    serviceName: 'Qiita: '
    userName: sounisi5011
  - url: https://www.pixiv.net/member.php?id=3910454
    title: pixiv
    serviceName: 'pixiv: '
    userName: 3910454
  - url: https://www.furaffinity.net/user/sounisi5011/
    title: Fur Affinity
    serviceName: 'Fur Affinity: '
    userName: sounisi5011
  - url: https://www.deviantart.com/sounisi5011
    title: DeviantArt
    serviceName: 'DeviantArt: '
    userName: sounisi5011
  - url: https://e621.net/user/show/306135
    title: e621
    serviceName: 'e621: '
    userName: sounisi5011
  - url: https://vore.pokemori.jp/list/?id=443&mode=show
    serviceName: なりきりチャット用キャラ名簿：
    userName: 壱冢想西
---

extends _layout

block content
  div.main-icon
    img(src=rootRrelativeURL("images", "my-symbol.svg") alt="")
  h1= title
  p.about-text
    span.bunsetsu いろいろやってます。
    wbr
    span.bunsetsu 最近はフェチ関係のことばっかり。
    wbr
    span.bunsetsu ここには創作を投稿していくつもり。
  h2 創作
  ul.contents-links
    li.novels
      a(href="/novels" title="創作小説") Novel
    li.characters
      a(href=rootRrelativeURL("characters") title="創作キャラ一覧") Characters
  h2 外部サイト
  ul.social-links
    each socialLink in socialLinkList
      case socialLink.type
        when 'twitter'
          li
            a(href=`https://twitter.com/intent/user?user_id=${socialLink.id}` target="_blank" title=`Twitter @${socialLink.screenName}`)
              span.service-name
                | Twitter:
                |
              = `@${socialLink.screenName}`
        default
          li
            a(href=socialLink.url target="_blank" title=socialLink.title)
              span.service-name= socialLink.serviceName
              = socialLink.userName
