-
  const titleText = 'sounisi5011.jp';
  const descriptionText = 'sounisi5011の創作とソーシャルサービスの集約サイト';
  const ogpType = 'website';
  const ogpImageList = [
    {
      url: `${rootURL}/images/ogp.png`,
      width: 400,
      height: 400,
    },
  ];
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no,email=no,address=no")
    title= titleText
    meta(name="description" content=descriptionText)
    link(rel="canonical" content=`${canonicalURL}`)
    link(rel="preload" href="/root.css" as="style")
    link(rel="preload" href="/images/my-symbol.svg" as="image")
    link(rel="preload" href="/images/icon-pixiv.png" as="image")
    link(rel="preload" href="/images/icon-qiita.png" as="image")
    include _head/ogp
    link(rel="stylesheet" href="/root.css")
  body
    div.main-icon
      img(src="/images/my-symbol.svg" alt="")
    h1= titleText
    p.about-text
      | いろいろやってます。最近はフェチ関係のことばっかり。ここには創作を投稿していくつもり。
    hr
    ul.social-links
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676860944" target="_blank")
          span.service-name Twitter: 
          | @sounisi5011
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676837791" target="_blank")
          span.service-name Twitter: 
          | @sounisi5011Prog
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676885804" target="_blank")
          span.service-name Twitter: 
          | @sounisi5011Vore
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=768680194244612096" target="_blank")
          span.service-name Twitter: 
          | @sounisi5011R18G
      li.github
        a(href="https://github.com/sounisi5011" target="_blank")
          span.service-name GitHub: 
          | sounisi5011
      li.qiita
        a(href="https://qiita.com/sounisi5011" target="_blank")
          span.service-name Qiita: 
          | sounisi5011
      li.pixiv
        a(href="https://www.pixiv.net/member.php?id=3910454" target="_blank")
          span.service-name pixiv: 
          | 3910454
      li.furaffinity
        a(href="https://www.furaffinity.net/user/sounisi5011/" target="_blank")
          span.service-name Fur Affinity: 
          | sounisi5011
      li.deviantart
        a(href="https://www.deviantart.com/sounisi5011" target="_blank")
          span.service-name DeviantArt: 
          | sounisi5011
      li.e621
        a(href="https://e621.net/user/show/306135" target="_blank")
          span.service-name e621: 
          | sounisi5011
      li.vore-pokemori
        a(href="https://vore.pokemori.jp/list/?id=443&mode=show" target="_blank")
          span.service-name なりきりチャット用キャラ名簿：
          | 壱冢想西
