---
localPageStyles:
  - /root.css
ogpType: website
ogpImageList:
  - url: /images/ogp.png
    width: 400
    height: 400
preloadList:
  - /default.css
  - /root.css
  - /images/my-symbol.svg
  - /images/icon-pixiv.png
  - /images/icon-qiita.png
  # Note: preloadに対応しているブラウザはWOFF2フォントにも対応しているため、他のフォントを指定する必要は無い
  - /fontawesome/fa-brands-400.woff2
socialLinkList:
  - type: twitter
    screenName: sounisi5011
    url: https://twitter.com/intent/user?user_id=4676860944
  - type: twitter
    screenName: sounisi5011Prog
    url: https://twitter.com/intent/user?user_id=4676837791
  - type: twitter
    screenName: sounisi5011Vore
    url: https://twitter.com/intent/user?user_id=4676885804
  - type: twitter
    screenName: sounisi5011R18G
    url: https://twitter.com/intent/user?user_id=768680194244612096
---

-
  const titleText = title;
  const descriptionText = description;
doctype html
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no,email=no,address=no")
    title= titleText
    meta(name="description" content=descriptionText)
    link(rel="canonical" href=`${canonicalURL}`)
    include _head/preload
    include _head/ogp
    include _head/stylesheets
  body
    div.main-icon
      img(src="/images/my-symbol.svg" alt="")
    h1= titleText
    p.about-text
      span.bunsetsu いろいろやってます。
      wbr
      span.bunsetsu 最近はフェチ関係のことばっかり。
      wbr
      span.bunsetsu ここには創作を投稿していくつもり。
    hr
    ul.social-links
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676860944" target="_blank" title="Twitter @sounisi5011")
          span.service-name Twitter: 
          | @sounisi5011
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676837791" target="_blank" title="Twitter @sounisi5011Prog")
          span.service-name Twitter: 
          | @sounisi5011Prog
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=4676885804" target="_blank" title="Twitter @sounisi5011Vore")
          span.service-name Twitter: 
          | @sounisi5011Vore
      li.twitter
        a(href="https://twitter.com/intent/user?user_id=768680194244612096" target="_blank" title="Twitter @sounisi5011R18G")
          span.service-name Twitter: 
          | @sounisi5011R18G
      li.github
        a(href="https://github.com/sounisi5011" target="_blank" title="GitHub")
          span.service-name GitHub: 
          | sounisi5011
      li.qiita
        a(href="https://qiita.com/sounisi5011" target="_blank" title="Qiita")
          span.service-name Qiita: 
          | sounisi5011
      li.pixiv
        a(href="https://www.pixiv.net/member.php?id=3910454" target="_blank" title="pixiv")
          span.service-name pixiv: 
          | 3910454
      li.furaffinity
        a(href="https://www.furaffinity.net/user/sounisi5011/" target="_blank" title="Fur Affinity")
          span.service-name Fur Affinity: 
          | sounisi5011
      li.deviantart
        a(href="https://www.deviantart.com/sounisi5011" target="_blank" title="DeviantArt")
          span.service-name DeviantArt: 
          | sounisi5011
      li.e621
        a(href="https://e621.net/user/show/306135" target="_blank" title="e621")
          span.service-name e621: 
          | sounisi5011
      li.vore-pokemori
        a(href="https://vore.pokemori.jp/list/?id=443&mode=show" target="_blank")
          span.service-name なりきりチャット用キャラ名簿：
          | 壱冢想西
