---
title: 創作小説一覧
description: sounisi5011が創作した文章作品の掲載ページ
localPageStyles:
  - /novels.css
  - /novel-list.css
---

extends _layout
include novels/_mixin

block content
  h1= title

  main.novels(itemprop="mainEntity" itemscope itemtype="http://schema.org/Collection")
    each novelData in [...collections.novels].reverse()
      article.novel(itemprop="hasPart" itemscope itemtype="http://schema.org/CreativeWork")
        h2.novel-title(itemprop="headline")
          a(href=rootRrelativeURL(novelData.path))= novelData.title

        if novelData.description
          p.novel-description(itemprop="description")= novelData.description

        - const pages = collections.novelsPages.filter(pageData => pageData.parentPage().path === novelData.path)
        +pageLinkList(pages)(itemprop="hasPart")

        p.novel-date
          span.novel-published
            time(itemprop="datePublished" datetime=formatDate(novelData.published, '%<time>', 0))
              = formatDate(novelData.published, '%Y年%-m月%-d日', timezone*60)
            | 公開
          unless dateEquals(novelData.published, novelData.modified)
            |
            | /
            |
            span.novel-modified
              time(itemprop="dateModified" datetime=formatDate(novelData.modified, '%<time>', 0))
                = formatDate(novelData.modified, '%Y年%-m月%-d日', timezone*60)
              | 更新
    else
      p まだ無いよ
