---
titleText: 創作小説一覧
descriptionText: sounisi5011が創作した文章作品の掲載ページ
localPageStyles:
  - /novels.css
ogpType: website
ogpImageList:
  - url: /images/ogp.png
    width: 400
    height: 400
preloadDependencies:
  - /default.css
  - /novels.css
---

extends _layout

block vars
  -
    const ogpSiteName = title;

block content
  h1= titleText

  -
    const novels = (
      collections.novels
        .filter(data => (data.parentPage() || {}).path === path)
        .reverse()
    );
  each data in novels
    h2
      a(href=path2url(`/${data.path}`))= data.titleText
    - const pages = data.childPages()
    if pages.length
      ul
        each pageData in collections.novels.filter(data => pages.some(page => page.path === data.path))
          li
            a(href=path2url(`/${pageData.path}`))= pageData.titleText
  else
    p まだ無いよ
