---
titleText: 創作小説一覧
descriptionText: sounisi5011が創作した文章作品の掲載ページ
localPageStyles:
  - /novels.css
ogpType: website
ogpImageList:
  - url: /images/ogp.png
    width: 400
    height: 400
preloadDependencies:
  - /default.css
  - /novels.css
---

extends _layout

block vars
  -
    const ogpSiteName = title;

block content
  h1= titleText

  each novelData in [...collections.novels].reverse()
    h2
      a(href=path2url(`/${novelData.path}`))= novelData.titleText
    - const pages = collections.novelsPages.filter(pageData => pageData.parentPage().path === novelData.path)
    if pages.length
      ul
        each pageData in pages
          li
            a(href=path2url(`/${pageData.path}`))= pageData.titleText
  else
    p まだ無いよ
