---
title: Time Out
description: 異なる歴史を歩んだ世界。終身刑を言い渡された男は、竜の討伐を条件に減刑を求める。
sortOrder: 1
reprintNovel:
  source: http://green.ribbon.to/~keiru/mts/mts.cgi?mode=view&no=1&id=5011
  published: 2012-03-25 08:05:00 +09:00
  modified: 2012-03-28 11:22:00 +09:00
localPageStyles:
  - /novels.css
  - /novel-list.css
---

extends ../_layout

block novel-content
  p
    time(datetime=formatDate(reprintNovel.published, '%<time>', timezone*60))
      <ruby>古<rp>（</rp><rt>いにしえ</rt><rp>）</rp></ruby>
      | の時代
    | に書かれた作品。
    a(href=reprintNovel.source target="_blank") 某所
    | から転載しました。

  ol.novel-pages(itemprop="hasPart" itemscope itemtype="http://schema.org/Collection")
    each pageData in getPageDataList()
      li(itemprop="hasPart" itemscope itemtype="http://schema.org/CreativeWork")
        span(itemprop="headline")
          a(href=rootRrelativeURL(pageData.path))= pageData.title
        meta(itemprop="datePublished" content=formatDate(pageData.published, '%<time>', 0))
        unless dateEquals(pageData.published, pageData.modified)
          meta(itemprop="dateModified" content=formatDate(pageData.modified, '%<time>', 0))
